:root {
  --bs-dark: #444;
  --bs-font-sans-serif: "Rubik", sans-serif;
}

body {
  margin: 20px 40px;
  font-size: 1.2rem;
  /* font-family: var(--bs-font-sans-serif);
   */
  font-family: 'Lato', sans-serif;
  background: #fff;
}

h1,
h2,
h3,
h4,
ul,
li,
a,
p,
input,
label,
button,
div,
footer {
  margin: 0;
  padding: 0;
  color: var(--bs-dark);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 120px;
}

nav ul {
  display: flex;
  align-items: center;
}

nav li {
  margin-left: 20px;
}

nav li a {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.8em;
  display: block;
  padding: 10px 16px;
  letter-spacing: 2px;
}

.btn {
  border-radius: 25px;
  background: #fcf6bd;
}

form h2 {
  font-size: 2.4em;
  font-weight: 900;
  margin-bottom: 40px;
}

form {
  width: 360px;
  margin: 0 auto;
  padding: 30px;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #fcf6bd;
}

.search-form {
  padding: 0;

}

input {
  padding: 10px 12px;
  border-radius: 4px;
  border: 1px solid #ddd;
  font-size: 1em;
  width: 100%;
}

label {
  display: block;
  margin: 20px 0 10px;
}

button {
  margin-top: 30px;
  border-radius: 36px;
  background: #fee996;
  border: 0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.8em;
  display: block;
  padding: 10px 16px;
  letter-spacing: 2px;
}

.logins {
  /* margin-top: 20px; */
  border-radius: 36px;
  background: #fee996;
  border: 0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.8em;
  display: block;
  padding: 10px 16px;
  letter-spacing: 2px;
}

.error {
  color: #ff0099;
  margin: 10px 2px;
  font-size: 0.8em;
  font-weight: bold;
}

header {
  display: flex;
  align-items: center;
}

header img {
  height: 40px;
  width: 140px;
}

header h2 {
  font-size: 3em;
  margin-bottom: 5px;
}

header h3 {
  font-size: 1.6em;
  margin-bottom: 5px;
  margin-left: 2px;
  color: #999;
}

header .btn {
  margin-top: 5px;
  padding: 5px 5px;
  text-transform: uppercase;
  font-weight: bold;
  display: inline-block;
  font-size: 0.8em;
}

.container-xxl {
  max-width: 1530px;
  margin: 0 auto;
}

.circular-image {
  border-radius: 20%;
}

a {
  color: var(--bs-dark);
}

/* category card */
.category__link {
  text-align: center;
  display: block;
  text-decoration: none;
  transition: 250ms, all;
}

.category__link:hover {
  transform: scale(1.1);
}

.category__img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin-bottom: 10px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  overflow: hidden;
  border-radius: 8px;
}

.category__img--large {
  height: 330px;
}

.category__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* For smaller devices, adjust the font sizes and padding */
@media screen and (max-width: 768px) {
  body {
    font-size: 14px;
  }
  header {
    padding: 10px;
  }
  .search-form {
    margin: 10px 0;
    width: 100%;
  }
  .col-md-3 {
    width: 100%;
    text-align: center;
  }
  .col-md-1,
  .col-md-3.text-end {
    display: block;
  }
  .search-form {
    margin: 20px 0;
    max-width: 300px;
  }
  .category__link {
    width: 50%;
  }
  .img-fluid {
    width: 100%;
  }
}

/* Adjust the layout for tablets */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  header {
    padding: 20px;
  }
  .col-md-3 {
    width: 100%;
    text-align: center;
  }
  .col-md-1,
  .col-md-3.text-end {
    display: block;
  }
  .search-form {
    margin: 20px 0;
    max-width: 300px;
  }
  .category__link {
    width: 50%;
  }
}

/* Adjust the layout for large devices */
@media screen and (min-width: 1024px) {
  header {
    padding: 40px;
  }
  .col-md-3 {
    width: 30%;
    text-align: left;
  }
  .col-md-1,
  .col-md-3.text-end {
    display: flex;
    justify-content: flex-end;
  }
  .search-form {
    margin: 30px 0;
    max-width: 300px;
  }
  .category__link {
    width: 20%;
  }
  .category__img {
    margin-bottom: 20px;
  }
}
